@model Dictionary<string,string>
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-wdith" />
    <link asp-href-include="wwwroot/lib/bootstrap/dist/css/*.min.css" rel="stylesheet" />
    <title>Result</title>
</head>
<body class="p-1">
    <div class="text-center">
        <h3> We're going to have an exciting party!</h3>
        <h4> And you are invited </h4>
        <a class="btn btn-primary" asp-action="">RSVP Now</a>
    </div>
    <table class="table table-condensed table-bordered table-striped">
        @foreach (var kvp in Model)
        {
            <tr><th>@kvp.Key</th><td>@kvp.Value</td></tr>
        }
    </table>




</body>
</html>