USE [master]
GO
/****** Object:  Database [JOIN_TRENING]    Script Date: 13.08.2020 15:36:33 ******/
CREATE DATABASE [JOIN_TRENING]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JOIN_TRENING', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DMITRIYSQLSRV\MSSQL\DATA\JOIN_TRENING.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JOIN_TRENING_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DMITRIYSQLSRV\MSSQL\DATA\JOIN_TRENING_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JOIN_TRENING].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JOIN_TRENING]
GO
/****** Object:  Table [dbo].[Table1]    Script Date: 13.08.2020 15:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table1](
	[ID] [int] IDENTITY(101,1) NOT NULL,
	[ValueT1] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table2]    Script Date: 13.08.2020 15:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table2](
	[ID] [int] IDENTITY(201,1) NOT NULL,
	[ValueT2] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table3]    Script Date: 13.08.2020 15:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table3](
	[ID] [int] IDENTITY(301,1) NOT NULL,
	[ValueT3] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Table1] ON 

INSERT [dbo].[Table1] ([ID], [ValueT1]) VALUES (101, N'A1')
INSERT [dbo].[Table1] ([ID], [ValueT1]) VALUES (102, N'B1')
INSERT [dbo].[Table1] ([ID], [ValueT1]) VALUES (103, N'C1')
SET IDENTITY_INSERT [dbo].[Table1] OFF
GO
SET IDENTITY_INSERT [dbo].[Table2] ON 

INSERT [dbo].[Table2] ([ID], [ValueT2]) VALUES (201, N'A2')
INSERT [dbo].[Table2] ([ID], [ValueT2]) VALUES (202, N'B2')
INSERT [dbo].[Table2] ([ID], [ValueT2]) VALUES (203, N'C2')
SET IDENTITY_INSERT [dbo].[Table2] OFF
GO
SET IDENTITY_INSERT [dbo].[Table3] ON 

INSERT [dbo].[Table3] ([ID], [ValueT3]) VALUES (301, N'A')
INSERT [dbo].[Table3] ([ID], [ValueT3]) VALUES (302, N'B')
INSERT [dbo].[Table3] ([ID], [ValueT3]) VALUES (303, N'C')
SET IDENTITY_INSERT [dbo].[Table3] OFF
GO
USE [master]
GO
