USE [TEST_SIMPLE_DB]
GO
/****** Object:  UserDefinedFunction [dbo].[concatStr]    Script Date: 11.02.2020 17:02:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[concatStr] ( @c INT )
RETURNS VARCHAR(MAX) AS BEGIN
DECLARE @p VARCHAR(MAX) ;
       SET @p = '' ;
    SELECT @p = @p + CONVERT(varchar(max), Id) + ','
      FROM Descipline 
     WHERE KafedraID = @c ;
RETURN @p
END

