USE [TESTS_DEST]
GO
/****** Object:  UserDefinedFunction [dbo].[concatStr]    Script Date: 11.02.2020 21:09:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------*************** Убирание дублей групп

ALTER FUNCTION [dbo].[concatStr] ( @c INT )
RETURNS VARCHAR(MAX) AS BEGIN
DECLARE @p VARCHAR(MAX) ;
       SET @p = '' ;
    SELECT @p = @p + CONVERT(varchar(max), tAGC.[GroupID] ) + ','
      FROM [TESTS_DEST].[dbo].[AccessGroupCommands] as tAGC
     WHERE tAGC.[GroupID]  = @c ;
RETURN @p
END

