<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <section name="log4net"
           type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.15.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
  </configSections>   
  <connectionStrings>
    <add name="MyConnection" connectionString="data source=some_server;initial catalog=some_db;integrated security=SSPI;Application Name=TestApp"/>
    <add name="DupperDbConnection" connectionString="Data Source=DMITRIY;Initial Catalog = DUPPER_DB_TEST;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
    
  
  <appSettings>
    <add key="" value=""/>
    <add key="WcfLogFolder" value="F:\\WcfEchoService\Logs"/>
    <add key="UseFakeRepository" value="1"/>
  </appSettings>
    
<log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="%property{LogPath}\WcfEchoService.log"/>
      <param name="AppendToFile" value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5MB"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %logger - %message%newline"/>
      </layout>
      
    </appender>
 
    <logger name="MyLogger">
      <appender-ref ref="LogFileAppender"/>
    </logger>

</log4net>      
      
      

  <system.serviceModel>
    
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      <service name="WcfDbEchoLib.ChequeService"
               behaviorConfiguration="ChequeServiceBehavior">
        <!--behaviorConfiguration="CalculatorServiceBehavior">-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/ServiceModelSamples/service"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/ServiceModelSamples/service  -->
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="WcfDbEchoLib.IChequeServiceContract" />
        <!-- the mex endpoint is exposed at http://localhost:8000/ServiceModelSamples/service/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ChequeServiceBehavior">
           <!--<behavior name="CalculatorServiceBehavior">-->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>