<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
          @*тут чтоб воспользоваться asp-href-include придется вручную 
          перенести bootsrap в wwwroot, а nmp его ствит в node_modules, что я и указал простым href*@

          @*asp-href-include="/lib/bootstrap/dist/**/bootstrap.css"
          asp-href-exclude="**/*-reboot,**-grid*"*@
          />
    <title>N5SportsStore</title>
</head>
<body>
    <div @*class="navbar navbar-inverse bg-inverse"*@ @*данный синтакси устраел в bootstrap вот актуальный*@ 
        class="navbar navbar-dark bg-dark" role="navigation">
        <a class="navbar-brand" href="#">SPORTS STORE</a>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-9">
            @RenderBody()
        </div>

    </div>
</body>
</html>
