
<!--Представление Razor (в старых версиях Страница представления MVC)-->
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name ="viewport" content="width=device-vidth" />
    <title> Index</title>
</head>
<body>

    @Model.Name

</body>
</html>