
<!--Представление Razor (в старых версиях Страница представления MVC)-->
@model N3Razor.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name ="viewport" content="width=device-vidth" />
    <title> Index</title>
</head>
<body>
Content will go here
</body>
</html>