<!--Страница Razor-->
@model N3Razor.Views.Home.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name ="viewport" content="width=device-vidth" />
    <title> Index</title>
</head>
<body>
    Content will go here
</body>
</html>